body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    font-size: 80px;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

h3 {
    text-align: center;
}

img {
    border-radius: 31px;
    border: 5px solid transparent;
    max-width: 15%;
    -webkit-border-radius: 31px;
    -moz-border-radius: 31px;
    -ms-border-radius: 31px;
    -o-border-radius: 31px;
}

div {
    text-align: center;
}